{% extends 'layout.html' %}

{% block body %}
  <section class="browse-events pt-5">
    <div class="container">
      <h2>Browse Events <small>Welcome {{ session.username }}</small></h2>
      <a class="btn btn-primary" href="/post-an-event">Post your Event</a>
      <hr>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Event Title</th>
            <th>Sport Type</th>
            <th>Number of Players</th>
            <th>Playing Level</th>
            <th>Location</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for event in events %}
            <tr>
              <td>{{ event.event_title }}</td>  <!-- event_title -->
              <td>{{ event.sport_type }}</td>  <!-- sport_type -->
              <td>{{ event.num_players }}</td>  <!-- num_players -->
              <td>{{ event.playing_level }}</td>  <!-- playing_level -->
              <td>{{ event.location }}</td>  <!-- location -->
              <td><a href="/event-details/{{ event['event_id'] }}" class="btn btn-secondary">Details</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
{% endblock %}
