<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Details - SportsSync</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    {% extends 'layout.html' %}
    {% block body %}
    <section id="browse-event" class="pt-5">
        <div class="container details-container">
            <header class="details-header">
                <h1 class="details-h1">Event: {{ event.event_title }}</h1>
            </header>

            <div class="team-info">
                <!-- Display the sport-specific image -->
                <div class="text-center mt-3">
                    {% if event.sport_type == 'Basketball' %}
                        <img src="/static/images/basketball-court.jpg" alt="Basketball Court">
                    {% elif event.sport_type == 'Soccer' %}
                        <img src="/static/images/soccer-court.jpg" alt="Soccer Court">
                    {% elif event.sport_type == 'Tennis' %}
                        <img src="/static/images/tennis-court.jpg" alt="Tennis Court">
                    {% endif %}
                </div>

                <p><strong>Sport Type:</strong> {{ event.sport_type }}</p>
                <p><strong>Number of Players Needed:</strong> {{ event.num_players }}</p>
                <p><strong>Playing Level:</strong> {{ event.playing_level }}</p>
                <p><strong>Event Date:</strong> {{ event.event_date }}</p>
                <p><strong>Start Time:</strong> {{ event.start_time }}</p>
                <p><strong>End Time:</strong> {{ event.end_time }}</p>
                <p><strong>Location:</strong> {{ event.location }}</p>
                <p><strong>Description:</strong></p>
                <ul>
                    {% for description in event.description.split('\n') %}
                        <li>{{ description }}</li>
                    {% endfor %}
                </ul>
                <p><strong>Gender Preference:</strong> {{ event.gender_preference }}</p>
            </div>
        </div>
    </section>
    {% endblock %}
</body>
</html>
