{% extends 'layout.html' %}
{% block body %}
<section id="browse-event" class="pt-5">
  <div class="container details-container">
    <header class="details-header">
      <h1 class="details-h1">Sport Type: {{ event[1] }}</h1>
    </header>

    <div class="team-info">
      <!-- Display the sport-specific image -->
      <div class="text-center mt-3">
        {% if event[2] == 'Basketball' %}
          <img src="/static/images/basketball-court.jpg" alt="Basketball Court">
        {% elif event[2] == 'Football' %}
          <img src="/static/images/football-court.jpg" alt="Football Field">
        {% elif event[2] == 'Baseball' %}
          <img src="/static/images/baseball-court.jpg" alt="Baseball Field">
        {% endif %}
      </div>

      <p><strong>Sport Type:</strong> {{ event.sport_type }}</p>
      <p><strong>Number of Players Needed:</strong> {{ event.num_players }}</p>
      <p><strong>Playing Level:</strong> {{ event.playing_level }}</p>
      <p><strong>Start Time:</strong> {{ event.start_time }}</p>
      <p><strong>End Time:</strong> {{ event.end_time }}</p>
      <p><strong>Location:</strong> {{ event.location }}</p>
      <p class="ul-content"><strong>Description:</strong></p>
      <ul>
        {% for description in event.description.split('\n') %}
          <li>{{ description }}</li>
        {% endfor %}
      </ul>
      <p><strong>Gender Preference:</strong> {{ event[9] }}</p>
    </div>
  </div>
</section>
{% endblock %}
