{% extends 'layout.html' %} 

{% block body %}
  <!-- Teams Looking For Players -->
  <section id="team-looking" class="p-5">
    <div class="container">
      <h1 class="text-center text-warning mb-4">Looking for Players</h1>

      <div class="row">
        <div class="col-md-4 team-basketball">
          <div>
            <h2>Sport: {{team_data[0].sport}}</h2>
            <br>
            <p class="lead">Team: {{team_data[0].team_name}}</p>
            <p class="lead">Skill Level Required: {{team_data[0].skill_level}}</p>
            <p class="lead">Location: {{team_data[0].location}}</p>
            <p class="lead">Number of players needed: {{team_data[0].number_of_players_needed}}</p>
            <a
              href="/team-basketball"
              class="btn btn-secondary mt-2"
            >
              Details <i class="bi bi-info-circle-fill details"></i>
            </a>
          </div>
          <div>
            <img src="https://img.freepik.com/premium-vector/basketball-player-playing-sports-game-running-with-orange-ball-hand-passing-throwing-it-strong-man-athlete-sportsman-training-uniform-flat-vector-illustration-isolated-white-background_198278-16251.jpg?w=1380" class="img-fluid" alt="" />
          </div>
        </div>

        <div class="col-md-4 team-football">
          <div class="mb-4">
            <h2>Sport: {{team_data[1].sport}}</h2>
            <br>
            <p class="lead">Team: {{team_data[1].team_name}}</p>
            <p class="lead">Skill Level Required: {{team_data[1].skill_level}}</p>
            <p class="lead">Location: {{team_data[1].location}}</p>
            <p class="lead">Number of players needed: {{team_data[1].number_of_players_needed}}</p>
            <a
              href="/team-football"
              class="btn btn-secondary mt-2"
            >
              Details <i class="bi bi-info-circle-fill details"></i>
            </a>
          </div>
          <div>
              <img src="https://uploads-ssl.webflow.com/5f7aea81e75cbd6140ed089f/5f7af06b20c4f574757ac3f9_undraw_goal_0v5v.svg" class="img-fluid" alt="" />
          </div>
        </div>

        <div class="col-md-4 team-baseball">
          <div>
            <h2>Sport: {{team_data[2].sport}}</h2>
              <br>
              <p class="lead">Team: {{team_data[2].team_name}}</p>
              <p class="lead">Skill Level Required: {{team_data[2].skill_level}}</p>
              <p class="lead">Location: {{team_data[2].location}}</p>
              <p class="lead">Number of players needed: {{team_data[2].number_of_players_needed}}</p>
              <a
                href="/team-baseball"
                class="btn btn-secondary mt-2"
              >
                Details <i class="bi bi-info-circle-fill details"></i>
              </a>
          </div>
          <div>
            <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTi2SIlTOASSV4iIk-Im81jn_bv4GDV_k2arF_ZDfp2QDDqkyZD" class="img-fluid image" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Players Looking For Teams -->
  <section id="player-looking">
    <div class="container">
      <h1 class="text-center text-danger mb-4">Looking for Teams</h1>

      <div class="row">
        <div class="col-md-4 player-basketball">
          <div class="mb-2">
            <h2>Sport: {{person_data[0].sport}}</h2>
            <br>
            <p class="lead">Name: {{person_data[0].person_name}}</p>
            <p class="lead">Age: {{person_data[0].age}}</p>
            <p class="lead">Location: {{person_data[0].location}}</p>
            <p class="lead">Skill Level: {{person_data[0].skill_level}}</p>
            <a
              href="/person-basketball"
              class="btn btn-secondary mt-2"
            >
              Details <i class="bi bi-info-circle-fill details"></i>
            </a>
          </div>
          <div>
            <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTxsy3xpMOGLcLvk5QUvBykk0W7HCXdDDAM-fmYgAO017aW4PHV" class="img-fluid image" alt="" />
          </div>
        </div>

        <div class="col-md-4 player-tennis">
          <div class="mb-4">
            <h2>Sport: {{person_data[1].sport}}</h2>
            <br>
            <p class="lead">Name: {{person_data[1].person_name}}</p>
            <p class="lead">Age: {{person_data[1].age}}</p>
            <p class="lead">Location: {{person_data[1].location}}</p>
            <p class="lead">Skill Level: {{person_data[1].skill_level}}</p>
            <a
              href="/person-tennis"
              class="btn btn-secondary mt-2"
            >
              Details <i class="bi bi-info-circle-fill details"></i>
            </a>
          </div>
          <div>
            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQffik82FmBC2DhEQq868lJ03Sh6sPOK5spARlW-k14UOoEl0JT" class="img-fluid image" alt="" />
          </div>
        </div>

        <div class="col-md-4 player-golf">
          <div class="mb-4">
            <h2>Sport: {{person_data[2].sport}}</h2>
            <br>
            <p class="lead">Name: {{person_data[2].person_name}}</p>
            <p class="lead">Age: {{person_data[2].age}}</p>
            <p class="lead">Location: {{person_data[2].location}}</p>
            <p class="lead">Skill Level: {{person_data[2].skill_level}}</p>
            <a
              href="/person-golf"
              class="btn btn-secondary mt-2"
            >
              Details <i class="bi bi-info-circle-fill details"></i>
            </a>
          </div>
          <div>
            <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQf2OtK7wKho_gET-6Tmb9oyNBQBKBF-xtEGjd8xiYRCYzGhCPm" class="img-fluid player-golf-image" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
