{% extends "layout.html" %}

{% block title %}
<title>Event Posted Successfully</title>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2>Event Posted Successfully!</h2>
    <p>Here are the details of your event:</p>
    <ul>
        <li><strong>Event Title:</strong> {{ event.event_title }}</li>
        <li><strong>Sport Type:</strong> {{ event.sport_type }}</li>
        <li><strong>Number of Players Needed:</strong> {{ event.num_players }}</li>
        <li><strong>Playing Level:</strong> {{ event.playing_level }}</li>
        <li><strong>Event Date:</strong> {{ event.event_date.strftime('%d/%m/%Y') }}</li>
        <li><strong>Start Time:</strong> {{ event.start_time }}</li>
        <li><strong>End Time:</strong> {{ event.end_time }}</li>
        <li><strong>Location:</strong> {{ event.location }}</li>
        <li><strong>Description:</strong> {{ event.description }}</li>
        <li><strong>Gender Preference:</strong> {{ event.gender_preference }}</li>
        <li><strong>Contact Information:</strong> {{ event.contact_information }}</li>
    </ul>

    <a href="{{ url_for('dashboard') }}" class="btn btn-primary mt-3">Back to Home</a>
</div>
{% endblock %}
