<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <title>Login</title>
</head>
<body>
    <form id="user-form" class="round-corners" action="/login" method="post">
        {{ form.hidden_tag() }}

        <div class="form-item">
            {{ form.username.label }}
            {{ form.username(class="form-input round-corners") }}
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-item">
            {{ form.password.label }}
            {{ form.password(class="form-input round-corners") }}
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-item">
            {{ form.remember.label }}
            {{ form.remember() }}
        </div>

        {% if error %}<p id="error-msg">{{ error }}</p>{% endif %}

        <input id="form-submit" class="form-item round-corners" type="submit" value="Login">

        <div id="switch-form">
            <p>Don't have an account? <a class="text-link" href="/register">Register</a></p>
        </div>
    </form>
</body>
</html>
