{% extends 'layout.html' %} {% block body %}
<section id="person_golf" class="pt-5">
  <div class="container details-container">
    <header class="details-header">
      <h1 class="details-h1">Sport: {{person_data[2].sport}}</h1>
      <p class="lead details-subtitle">Looking for Teams</p>
    </header>

    <div class="team-info">
      <p><strong>Name:</strong> {{person_data[2].person_name}}</p>
      <p><strong>Age:</strong> {{person_data[2].age}}</p>
      <p><strong>Location:</strong> {{person_data[2].location}}</p>
      <p><strong>Skill Level:</strong> {{person_data[2].skill_level}}</p>
      <p class="ul-content"><strong>Availability:</strong></p>
      <ul>
        <li>{{person_data[2].availability[0]}}</li>
        <li>{{person_data[2].availability[1]}}</li>
      </ul>
      <p class="ul-content"><strong>Additional Information:</strong></p>
      <ul>
        <li>{{person_data[2].information[0]}}</li>
        <li>{{person_data[2].information[1]}}</li>
        <li>{{person_data[2].information[2]}}</li>
        <li>{{person_data[2].information[3]}}</li>
      </ul>
      <p class="ul-content"><strong>Contact Methods:</strong></p>
      <ul>
        <li>{{person_data[2].contact[0]}}</li>
        <li>{{person_data[2].contact[1]}}</li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}
