{% extends 'layout.html' %} {% block body %}
<section id="team_football" class="pt-5">
  <div class="container details-container">
    <header class="details-header">
      <h1 class="details-h1">Event Title: {{team_data.event_title}}</h1>
    </header>

    <div class="team-info">
      <div class="text-center mt-3">
        <img src="{{ url_for('static', filename='images/football-court.jpg') }}" class="img-fluid">
      </div>

      <p><strong>Sport Type:</strong> {{team_data.sport_type}}</p>
      <p><strong>Number of Players Needed:</strong> {{team_data.num_players}}</p>
      <p><strong>Playing Level:</strong> {{team_data.playing_level}}</p>
      <p><strong>Start Time:</strong> {{team_data.start_time}}</p>
      <p><strong>End Time:</strong> {{team_data.end_time}}</p>
      <p><strong>Location:</strong> {{team_data.location}}</p>
      <p class="ul-content"><strong>Description:</strong></p>
      <ul>
        {% for description in team_data.description %}
          <li>{{description}}</li>
        {% endfor %}
      </ul>
      <p><strong>Gender Preference:</strong> {{team_data.gender_preference}}</p>
    </div>
</section>
{% endblock %}
