:root {
    --border-radius: 5px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.text-link {
    color: dodgerblue;
}

#user-form {
    background: white;
    padding: max(4vmin, 20px);
    width: min(90vw, 300px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: absolute;  /* Positioning relative to the nearest positioned ancestor */
    top: 50%;            /* Center vertically */
    left: 50%;           /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust the position to truly center the form */
    border-radius: var(--border-radius);
}

.form-item {
    width: 100%;
}

.round-corners {
    border-radius: var(--border-radius);
}

.form-input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    border: 1px solid silver;
    outline-color: dodgerblue;
}

#form-submit {
    width: 100%;
    padding: 0.7em;
    margin-top: 1vh;
    border: none;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: .1rem;
    transition: background-color ease-in-out 200ms;
}

#form-submit:hover {
    background-color: royalblue;
}

#switch-form p {
    font-size: .9em; 
    margin: 0;
}

#error-msg {
    text-align: center;
    color: crimson;
    margin: 0;
}

/* Home page */
h1 {
    font-size: clamp(1rem, 7vw, 4rem);
    text-wrap: nowrap;
    color: royalblue;
}

.gradiant-text {
    background: -webkit-linear-gradient(dodgerblue, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


nav {
    width: 100%;
    background-color: #333;
    position: fixed; /* Makes the navbar fixed to the top of the viewport */
    top: 0; /* Ensures it stays at the very top */
    left: 0; /* Aligns it to the left edge of the viewport */
    z-index: 1000; /* Ensures it stays on top of other content */
}

.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    height: 50px; /* Set a fixed height for the navbar */
}

.navbar li {
    display: block;
}

.navbar li a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #ddd;
    color: black;
}

/* Adds padding-top to the main content to avoid being hidden behind the fixed navbar */
.content {
    padding-top: 60px; /* Should be more than the height of the navbar */
}
